@{
  Layout = "_Layout";
}
<h1>University Registrar</h1>
<h2>Add Engineer</h2>

@model Factory.Models.Engineer

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger"})</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  
  <input type="submit" value="Add Engineer" />
}
<p>@Html.ActionLink("Add Engineer", "Create")</p>