<div class="d-flex">
  <p class="mr-4">@Html.ActionLink("Home", "Index", "Home")</p>
  <p class="mr-4">@Html.ActionLink("Engineer Registry", "Index", "Engineer")</p>
  <p class="mr-4">@Html.ActionLink("Machine Center", "Index", "Machine")</p>
</div>